[submodule "tools/llvm-spirv"]
	path = tools/llvm-spirv
	url = git://github.com/thewilsonator/llvm-tool-spirv.git
[submodule "lib/Target/SPIRV"]
	path = lib/Target/SPIRV
	url = git://github.com/thewilsonator/llvm-target-spirv.git
